* {
    margin: 0;
    padding: 0;
}

body {
    width: 1280px;
    height: 1626px;
    font-family: 'Montserrat', sans-serif;
}

.header {
    padding: 31px;
}

.header-navigation ul {
    text-align: center;
    height: 15px;
}

.header-navigation li {
    display: inline;
}

.header-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: red;
    text-decoration: none;
    letter-spacing: 2.7px;
    margin-left: 70px;
}

.banner {
    height: 789px;
    background-image: url("../img/image\ 1.jpg");
    margin-bottom: 48px;
}

.heading {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 38px;
}

.text-first {
    margin-bottom: 28px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    position: absolute;
    width: 1145px;
    left: 67px;
}

.button {
    margin-top: 444px;
    margin-left: 544px;
    width: 191px;
    height: 51px;
    background-color: red;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 82px;
}

.footer {
    color: #373737;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 2.4px;
    text-align: left;
    margin-left: 713px;
}